@import url('https://fonts.googleapis.com/css2?family=Marvel&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: "Marvel";
  }

/*** Layout ***/
.layoutContainer{
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-columns: 1fr 150px;
    grid-template-rows: 100px 1fr 50px;
    grid-template-areas: 
    "header header"
    "main sidebar"
    "footer footer";
}

.header{
    grid-area: header;
    background-color: #476C52;
    display: flex;
    align-items:center;
}

.contentContainer{
    grid-area: main;
    background-color: red;
}

.sidebar{
    grid-area: sidebar;
    background-color: blue;
}

.footer{
    grid-area: footer;
    background-color: yellow;
}

/*** Header ***/
.logo{
    margin-left: 100px;
    vertical-align: bottom;
    color: white;
    font-size: 48px;
    font-weight: bold;
    text-decoration: none; 
}

.navContainer{
    display: flex;
    margin-left: auto;
    margin-right: 100px;
    gap: 30px;
}

.navItem{
    color: white;
    font-size: 36px;
    text-decoration: none;
}

.navItem:hover{
    color: #C0F7DB;
}