/*** Content ***/

.post-container {
  display: flex;
  flex-direction: column;
  padding: 25px 200px 55px 100px;
}

.back-link {
  font-size: 16px;
}

.post-hero {
  margin-top: 25px;
  width: 55%;
  border-radius: 10px;
}

.post-head {
  margin-top: 35px;
  display: flex;
  flex-direction: row;
}

.post-heading {
  font-size: 40px;
  font-weight: bold;
  margin-right: 30px;
}

.social-link-container {
  display: flex;
  gap: 10px;
}

.social-link {
  display: flex;
}

.social-link > img {
  width: 100%;
}

.post-date {
  font-size: 24px;
  margin-bottom: 30px;
}

.post-text {
  font-size: 22px;
}

.post-sub-heading {
  font-size: 22px;
  font-weight: bold;
  text-align: left;
}

.related-posts-heading {
  margin-top: 30px;
  font-size: 16px;
  font-weight: bold;
}

.related-posts {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.related-posts-link {
  font-size: 16px;
}

.author-portrait {
  margin-top: 50px;
  margin-bottom: 60px;
  border-radius: 50%;
  object-fit: cover;
  width: 250px;
  height: 250px;
  margin-left: auto;
  margin-right: auto;
}

.author-info-container {
  padding-left: 50px;
  padding-right: 50px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.author-info-line {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: stretch;
  width: 100%;
}

.author-info {
  font-size: 24px;
  font-weight: bold;
}

.bio {
  text-align: justify;
}

.left {
  flex: 1;
}
