/*** Content ***/
.subHeading {
  margin-left: 100px;
  margin-top: 85px;
  font-size: 24px;
}

.mainHeading {
  margin-left: 100px;
  font-size: 96px;
  font-weight: bold;
}

/*** Cards ***/
.cardContainer {
  margin-left: 100px;
  margin-top: 75px;
  display: flex;
  gap: 60px;
}

.card {
  background-color: #e8e8e8;
  width: 330px;
  height: 350px;
  border-radius: 10px;
}

.cardContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cardImg {
  width: 100%;
  border-radius: 10px 10px 0 0;
}

.cardHeading {
  margin-top: 15px;
  font-size: 20px;
  font-weight: bold;
  font-style: italic;
  text-align: center;
}

.viewBtn {
  margin-top: 20px;
  background-color: #83464e;
  border-radius: 20px;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border: none;
  padding: 10px 20px;
}

/*** Sidebar ***/
h2 {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}

.subscribeForm {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.subscribeEntries {
  clear: both;
}

.subscribeLabel {
  font-size: 24px;
  font-weight: bold;
  float: left;
  margin-right: 30px;
}

.subscribeText {
  font-size: 24px;
  float: right;
  border-radius: 10px;
  border: none;
}

#subscribeBtn {
  margin-top: 20px;
  background-color: #83464e;
  border-radius: 20px;
  color: white;
  font-size: 20px;
  font-weight: bold;
  border: none;
  padding: 10px 20px;
}
